@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --radius: 0.65rem;

    /* Typography */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', system-ui, sans-serif;

  /* Colores base */
  --primary: #C8A180;    
  --secondary: #D9B79A;  
  --accent: #d1b195;     
  --muted: #F9ECE1;       
  --background: #FEFCFF;  
  --foreground: #2A2A2F;  

    /* Text colors */
  --text-primary: #2A2A2F;   /* Main text (headings, body) */
  --text-secondary: #5C5C66; /* Secondary text (descriptions, labels) */
  --text-muted: #8F8F99;    /* Muted text (helper text, metadata) */
  --text-disabled: #B8B8C0; /* Disabled / very subtle text */

  /* Gradiente de camels */
  --camel-gradient: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}



@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-disabled: var(--text-disabled);

  
  
}

body {
  font-family: var(--font-body);
  color: var(--text-secondary);
  background-color: var(--background);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

.step-circle circle {
  stroke-dasharray: 339;
  stroke-dashoffset: 339;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.step.animate .step-circle circle {
  animation: draw-circle 1s ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes draw-circle {
  to {
    stroke-dashoffset: 0;
  }
}

